In [1]:
import pandas as pd

C:\Users\Komati Satya\AppData\Local\Temp\ipykernel_16824\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("Csv files/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [10]:
inputs=df.drop('Survived', axis='columns')
target=df.Survived
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [11]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [12]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [13]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [14]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [15]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [16]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [20]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [21]:
model.fit(X_train,y_train)

GaussianNB()

In [22]:
model.score(X_test,y_test)

0.7686567164179104

In [23]:
X_test[0:10]

     Pclass        Age      Fare  female
369       1  24.000000   69.3000    True
438       1  64.000000  263.0000   False
495       3  29.699118   14.4583   False
108       3  38.000000    7.8958   False
802       1  11.000000  120.0000   False
871       1  47.000000   52.5542    True
288       2  42.000000   13.0000   False
205       3   2.000000   10.4625    True
815       1  29.699118    0.0000   False
264       3  29.699118    7.7500    True

In [24]:
y_test[0:10]

369    1
438    0
495    0
108    0
802    1
871    1
288    1
205    0
815    0
264    0
Name: Survived, dtype: int64

In [25]:
model.predict_proba(X_test[:10])

array([[3.30559831e-02, 9.66944017e-01],
       [9.77349936e-10, 9.99999999e-01],
       [9.71848651e-01, 2.81513492e-02],
       [9.72063479e-01, 2.79365206e-02],
       [6.37388326e-02, 9.36261167e-01],
       [5.68217026e-02, 9.43178297e-01],
       [9.44250788e-01, 5.57492119e-02],
       [2.35221286e-01, 7.64778714e-01],
       [8.24489311e-01, 1.75510689e-01],
       [4.05863372e-01, 5.94136628e-01]])

In [26]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.752    , 0.776    , 0.784    , 0.7983871, 0.7983871])